:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.grid {
  --cell-size: 100px;
  --grid-size: 4;
  --gap: 4px;
  --cell-bg-clr: #ccc0b3;
  --bdrs: 10px;

  position: relative;
  width: calc(var(--grid-size) * var(--cell-size) + var(--gap) * 2);
  height: calc(var(--grid-size) * var(--cell-size) + var(--gap) * 2);
  border: 2px solid white;
  background: #bbada0;
}

.grid::after {
  position: absolute;
  content: "";
  top: var(--gap);
  left: var(--gap);
  box-shadow: var(--bg-pattern);
  border-radius: var(--bdrs);
  width: calc(var(--cell-size) - var(--gap) * 2);
  height: calc(var(--cell-size) - var(--gap) * 2);
  background: var(--cell-bg-clr);
}

.cell {
  position: absolute;
  top: var(--gap);
  left: var(--gap);
  width: calc(var(--cell-size) - var(--gap) * 2);
  height: calc(var(--cell-size) - var(--gap) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: var(--bdrs);
  font-size: calc(var(--cell-size) * 0.25);
  background: var(--bg-clr);
  z-index: 10;
  transform: translate(
    calc(var(--col) * var(--cell-size)),
    calc(var(--row) * var(--cell-size))
  );
}
