:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  width: 200px;
  border: none;
  border-radius: 12px;
  padding: 15px 0;
  font-size: 20px;
  cursor: pointer;
}

/* GRID */
.grid {
  /* display: none; */
  --cell-size: 100px;
  --grid-size: 4;
  --gap: 4px;
  --cell-bg-clr: #ccc0b3;
  --bdrs: 10px;

  position: relative;
  width: calc(var(--grid-size) * var(--cell-size) + var(--gap) * 2);
  height: calc(var(--grid-size) * var(--cell-size) + var(--gap) * 2);
  border: 2px solid white;
  background: #bbada0;
}
.grid::after {
  position: absolute;
  content: "";
  top: var(--gap);
  left: var(--gap);
  box-shadow: var(--bg-pattern);
  border-radius: var(--bdrs);
  width: calc(var(--cell-size) - var(--gap) * 2);
  height: calc(var(--cell-size) - var(--gap) * 2);
  background: var(--cell-bg-clr);
}
.cell {
  position: absolute;
  top: var(--gap);
  left: var(--gap);
  width: calc(var(--cell-size) - var(--gap) * 2);
  height: calc(var(--cell-size) - var(--gap) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: var(--bdrs);
  font-size: calc(var(--cell-size) * 0.25);
  background: var(--bg-clr);
  z-index: 10;
  transform: translate(
    calc(var(--col) * var(--cell-size)),
    calc(var(--row) * var(--cell-size))
  );
}

/* SLIDER */
.container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slides {
  width: 300px;
  height: 300px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  position: relative;
}
.slider span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: #bbada0;
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: black;
  font-weight: 600;
}
.slide img {
  min-width: 300px;
  height: 100%;
}
.arrow {
  position: absolute;
  top: 35%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 30px;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}

/* GAME HEADER */
.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.score {
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.menu-button {
  width: 150px;
  font-size: 18px;
}
